name: Go CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ stable, oldstable ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - name: Sync workspace
        run: go work sync

      - name: Download modules
        run: go mod download

      - name: Run gofmt
        run: test -z "$(gofmt -l .)"

      - name: Run tests
        run: go test ./...

      - name: Run vet
        run: go vet ./...
