name: cache
on:
  push:
    branches:
      - main
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-tidy-up-cache
  cancel-in-progress: true
jobs:
  clean:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: mokmok-dev/delete-actions-cache@main
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
